footer.footer
    .footer-top-wrapper
        .container
            .footer__row
                .footer__logo
                    .logo QUANTUM
                .footer__nav
                    .nav-footer
                        ul.nav-footer__list
                            li.nav-footer__list-item
                                a.nav-footer__link.nav-footer__link--dropdown(href="") Shop
                                    span
                                        +icon('arrow_icon')
                                //ul
                                //    li
                                //        a(href="") Some item
                                //    li
                                //        a(href="") Some item
                                //    li
                                //        a(href="") Some item
                            li.nav-footer__list-item
                                a.nav-footer__link(href="") Journal
                            li.nav-footer__list-item
                                a.nav-footer__link(href="") About
                            li.nav-footer__list-item
                                a.nav-footer__link(href="") Contacts
                .footer__socials
                    a(href="").footer-social
                        +icon('facebook_icon')
                    a(href="").footer-social
                        +icon('twitter_icon')
                    a(href="").footer-social
                        +icon('instagram_icon')
                    a(href="").footer-social
                        +icon('youtube_icon')
    .container
        .footer__row.footer__row--copyright
            .footer__copyright
                .footer__copyright-item © 2016. Quantum UI kit
                .footer__copyright-item Privacy Policy
                .footer__copyright-item Terms of Use
            .footer__payment
               .footer__payment-item Accepted payment methods
               .footer__payment-img
                   img(src="static/img/general/visa_icon.png")
               .footer__payment-img
                   img(src="static/img/general/master_card_icon.png")
               .footer__payment-img
                   img(src="static/img/general/pay_pal_icon.png")
               .footer__payment-img
                   img(src="static/img/general/amazon_icon.png")





