.header-nav-wrapper
    nav.header-nav.container
        .header-nav__categories
            a(href="#").header-mega-menu-link
                .header-mega-menu-link__icon
                    +icon("menu_icon")
                .header-mega-menu-link__text All Categories
        .header-nav__deals
            a(href="#").header-nav__deals__link Super Deals
            a(href="#").header-nav__deals__link Featured Brands
            a(href="#").header-nav__deals__link Collections
            a(href="#").header-nav__deals__link Bestselling

        .header-nav__select
            .header-nav__select-item
                .nav-dropdown
                    a(href="").nav-dropdown__title Help
                        .nav-dropdown__title-icon
                            +icon('arrow_icon')
                    .nav-dropdown__dropdown
                        a(href="").nav-dropdown__dropdown-item F.A.Q.
                        a(href="").nav-dropdown__dropdown-item Payment
                        a(href="").nav-dropdown__dropdown-item Delivery

            .header-nav__select-item
                .nav-dropdown
                    a(href="").nav-dropdown__title USD
                        .nav-dropdown__title-icon
                            +icon('arrow_icon')
                    .nav-dropdown__dropdown
                        a(href="").nav-dropdown__dropdown-item USD
                        a(href="").nav-dropdown__dropdown-item Euro
                        a(href="").nav-dropdown__dropdown-item Rub

            .header-nav__select-item
                .nav-dropdown
                    a(href="").nav-dropdown__title Language
                        .nav-dropdown__title-icon
                            +icon('arrow_icon')
                    .nav-dropdown__dropdown
                        a(href="").nav-dropdown__dropdown-item English
                        a(href="").nav-dropdown__dropdown-item French
                        a(href="").nav-dropdown__dropdown-item Russian



            //.header-nav__select-item
            //    .header-select.header-select--nav(data-select)
            //        .header-select__title(data-select-title) Currency
            //        .header-select__dropdown.hidden
            //            .header-select__dropdown-item(data-select-item="USD") USD
            //            .header-select__dropdown-item(data-select-item="Euro") Euro
            //            .header-select__dropdown-item(data-select-item="Rub") Rub
            //
            //
            //.header-nav__select-item
            //    .header-select.header-select--nav(data-select)
            //        .header-select__title(data-select-title) Language
            //        .header-select__dropdown.hidden
            //            .header-select__dropdown-item(data-select-item="English") English
            //            .header-select__dropdown-item(data-select-item="French") French
            //            .header-select__dropdown-item(data-select-item="Russian") Russian
            //
