
.owl-carousel
  .owl-nav
    button.owl-prev ,
    button.owl-next
      absolute($top:50%)
      transform translateY(-50%)
      display block
      width: 60px
      height: 60px
      //background-color red
      background-repeat no-repeat
      background-position center
      background-size 20px 21px
      border-radius 50%
      border 2px solid rgba(255,255,255, 0.1)

.owl-carousel
  .owl-nav
    button.owl-prev
      absolute($left:60px)
      background-image url("../img/content/slider/arrow_left.png")

.owl-carousel
  .owl-nav
    button.owl-next
      absolute($right:60px)
      background-image url("../img/content/slider/arrow_right.png")


.owl-carousel
  .owl-dots
    absolute($bottom:50px,$left:50%)
    transform translateX(-50%)

.owl-carousel
  .owl-dots
    .owl-dot
      width 68px
      height 2px
      background-color #D6D6D6
      opacity 0.3
      margin 15px
      transition: opacity 200ms ease
      &.active,
      &:hover
        background-color #ffffff
        opacity 100%

.owl-carousel
  .owl-dots
    .owl-dot
      span
        margin 30px



