.main-content
  margin-top: 35px
  margin-bottom: 30px

.main-row
  display flex

.main-column__left
  width: 23%
  flex-shrink 0
  margin-right: 2.5%

  & > * + *
    margin-top 30px

.main-column__right
  //width: 72%
  flex-grow 1