.tabs
  padding: 0 40px
  display flex
  height: 60px
  margin-bottom: 30px

.tabs-btn
  font-family Roboto
  background transparent
  border none
  color #808080
  font-size 13px
  font-weight 500
  cursor pointer
  transition ease-in .4s
  line-height 1
  text-align center
  & + &
    margin-left: 50px
  &:hover
    color accentColor

.tabs-btn--active
  color accentColor
  font-size 13px
  border-bottom 2px solid accentColor



