extends ../layout/main

block variables
    - var title = 'Quantum'
    - var pageClass = 'index-page'

block content
    include ../modules/menu
    include ../pages/blocks/main-slider
    include ../pages/blocks/promo
    include ../pages/blocks/sidebar