section.carousel-section
    .container
        .carousel.owl-carousel#carousel-header
            .carousel-item
                .carousel-item__title The Universe Through A Child S Eyes
                .carousel-item__text
                    P Start sales

            .carousel-item
                .carousel-item__title The Universe Through A Child S Eyes
                .carousel-item__text
                    P Start sales

            .carousel-item
                .carousel-item__title The Universe Through A Child S Eyes
                .carousel-item__text
                    P Start sales


