section.promo
    .container
        .promo-section
            a(href="").promo-block
                .promo-block__item.mixin-card
                    h4.promo-block__title Astronomy Or Astrology
                    .promo-block__text Start sales
                    .promo-block__img
                        img(src="static/img/content/promo/headphones.png")
            a(href="").promo-block
                .promo-block__item.promo-block__item--bg-image.promo-block__item--bg-image-watch.mixin-card
                    h4.promo-block__title The Basics Of Buying A Telescope
                    .promo-block__text Astronomy Or Astrology
            a(href="").promo-block
                .promo-block__item.promo-block__item--small.mixin-card
                    .promo-block__item-img
                        img(src="static/img/content/promo/pencil.jpg")
                    h4.promo-block__item-text Getting Free Publicity For Your Business
                .promo-block__item.promo-block__item--small.mixin-card
                    .promo-block__item-img
                        img(src="static/img/content/promo/watch.jpg")
                    h4.promo-block__item-text How Plasma Tvs And Lcd Tvs Differ


