main.main-content
    .container
        .main-row
            .main-column__left
                nav.navigation.mixin-card
                    ul.navigation-list
                        li.navigation-item
                            .navigation-item__icon
                                +icon('desctop_icon')
                            .navigation-item__title Computers
                            .navigation-item__arrow
                                +icon('right-arrow')
                        li.navigation-item
                            .navigation-item__icon
                                +icon('imac_icon')
                            .navigation-item__title Apple Computers
                            .navigation-item__arrow
                                +icon('right-arrow')
                        li.navigation-item
                            .navigation-item__icon
                                +icon('laptop_icon')
                            .navigation-item__title Laptops
                            .navigation-item__arrow
                                +icon('right-arrow')
                        li.navigation-item
                            .navigation-item__icon
                                +icon('keyboard_icon')
                            .navigation-item__title Friends
                            .navigation-item__arrow
                                +icon('right-arrow')
                        li.navigation-item
                            .navigation-item__icon
                                +icon('memory_icon')
                            .navigation-item__title Computer Components
                            .navigation-item__arrow
                                +icon('right-arrow')
                        li.navigation-item
                            .navigation-item__icon
                                +icon('speaker_icon')
                            .navigation-item__title Accessories
                            .navigation-item__arrow
                                +icon('right-arrow')
                        li.navigation-item
                            .navigation-item__icon
                                +icon('tv_icon')
                            .navigation-item__title TV & Video
                            .navigation-item__arrow
                                +icon('right-arrow')
                        li.navigation-item
                            .navigation-item__icon
                                +icon('game_icon')
                            .navigation-item__title Game consoles
                            .navigation-item__arrow
                                +icon('right-arrow')
                        li.navigation-item
                            .navigation-item__icon
                                +icon('watch_icon')
                            .navigation-item__title Watches
                            .navigation-item__arrow
                                +icon('right-arrow')

                //Banner
                aside.info-block.mixin-card
                    .info-block__title Look Up In The Sky
                    .info-block__desc Astronomy Or Astrology


            .main-column__right
                .tabs.mixin-card
                    button.tabs-btn.tabs-btn--active Most Popular
                    button.tabs-btn My communities
                .cards-wrapper
                    .card
                        .card-header
                            .card-header_sale SALE 10%
                            .card-header_icons
                                button.card-icon
                                    +icon('list_icon')
                                button.card-icon
                                    +icon('wishlist_icon')
                        .card__img
                            img(src="static/img/content/products/phone1.png")
                        h4.card__title Asus ZenFone Go ZB452KG <br> (black and white)
                        .card__rating
                            .card__rating-star
                                +icon('star_icon')
                            .card__rating-star
                                +icon('star_icon')
                            .card__rating-star
                                +icon('star_icon')
                            .card__rating-star.card__rating-star--half
                                +icon('star_half_icon')
                            .card__rating-star.card__rating-star--empty
                                +icon('star_border_icon')
                            .card__rating-value 12
                        .card__price
                            .card__price-price 384$
                            .card__price-icon
                                +icon('cart_icon')
                    .card
                        .card-header
                            .card-header_sale SALE 10%
                            .card-header_icons
                                button.card-icon
                                    +icon('list_icon')
                                button.card-icon
                                    +icon('wishlist_icon')
                        .card__img
                            img(src="static/img/content/products/phone1.png")
                        h4.card__title Asus ZenFone Go ZB452KG <br> (black and white)
                        .card__rating
                            .card__rating-star
                                +icon('star_icon')
                            .card__rating-star
                                +icon('star_icon')
                            .card__rating-star
                                +icon('star_icon')
                            .card__rating-star.card__rating-star--half
                                +icon('star_half_icon')
                            .card__rating-star.card__rating-star--empty
                                +icon('star_border_icon')
                            .card__rating-value 12
                        .card__price
                            .card__price-price 384$
                            .card__price-icon
                                +icon('cart_icon')
                    .card
                        .card-header
                            .card-header_sale SALE 10%
                            .card-header_icons
                                button.card-icon
                                    +icon('list_icon')
                                button.card-icon
                                    +icon('wishlist_icon')
                        .card__img
                            img(src="static/img/content/products/phone1.png")
                        h4.card__title Asus ZenFone Go ZB452KG <br> (black and white)
                        .card__rating
                            .card__rating-star
                                +icon('star_icon')
                            .card__rating-star
                                +icon('star_icon')
                            .card__rating-star
                                +icon('star_icon')
                            .card__rating-star.card__rating-star--half
                                +icon('star_half_icon')
                            .card__rating-star.card__rating-star--empty
                                +icon('star_border_icon')
                            .card__rating-value 12
                        .card__price
                            .card__price-price 384$
                            .card__price-icon
                                +icon('cart_icon')
                    .card
                        .card-header
                            .card-header_sale SALE 10%
                            .card-header_icons
                                button.card-icon
                                    +icon('list_icon')
                                button.card-icon
                                    +icon('wishlist_icon')
                        .card__img
                            img(src="static/img/content/products/phone1.png")
                        h4.card__title Asus ZenFone Go ZB452KG <br> (black and white)
                        .card__rating
                            .card__rating-star
                                +icon('star_icon')
                            .card__rating-star
                                +icon('star_icon')
                            .card__rating-star
                                +icon('star_icon')
                            .card__rating-star.card__rating-star--half
                                +icon('star_half_icon')
                            .card__rating-star.card__rating-star--empty
                                +icon('star_border_icon')
                            .card__rating-value 12
                        .card__price
                            .card__price-price 384$
                            .card__price-icon
                                +icon('cart_icon')
                    .card
                        .card-header
                            .card-header_sale SALE 10%
                            .card-header_icons
                                button.card-icon
                                    +icon('list_icon')
                                button.card-icon
                                    +icon('wishlist_icon')
                        .card__img
                            img(src="static/img/content/products/phone1.png")
                        h4.card__title Asus ZenFone Go ZB452KG <br> (black and white)
                        .card__rating
                            .card__rating-star
                                +icon('star_icon')
                            .card__rating-star
                                +icon('star_icon')
                            .card__rating-star
                                +icon('star_icon')
                            .card__rating-star.card__rating-star--half
                                +icon('star_half_icon')
                            .card__rating-star.card__rating-star--empty
                                +icon('star_border_icon')
                            .card__rating-value 12
                        .card__price
                            .card__price-price 384$
                            .card__price-icon
                                +icon('cart_icon')
                    //.card
                    //    .card-header
                    //        .card-header_sale SALE 10%
                    //        .card-header_icons
                    //            button.card-icon
                    //                +icon('list_icon')
                    //            button.card-icon
                    //                +icon('wishlist_icon')
                    //    .card__img
                    //        img(src="static/img/content/products/phone1.png")
                    //    h4.card__title Asus ZenFone Go ZB452KG <br> (black and white)
                    //    .card__rating
                    //        .card__rating-star
                    //            +icon('star_icon')
                    //        .card__rating-star
                    //            +icon('star_icon')
                    //        .card__rating-star
                    //            +icon('star_icon')
                    //        .card__rating-star.card__rating-star--half
                    //            +icon('star_half_icon')
                    //        .card__rating-star.card__rating-star--empty
                    //            +icon('star_border_icon')
                    //        .card__rating-value 12
                    //    .card__price
                    //        .card__price-price 384$
                    //        .card__price-icon
                    //            +icon('cart_icon')

